<?xml version="1.0"?>
<model>
  <name>hovercrane_lidar</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Eli Vigdorchik</name>
    <email>eli@teamsense.dev</email>
  </author>
  <description>Model of the Hovercrane octocopter with a lidar at the front pointing down</description>
</model>
